# Prompt design is vaguely based on fino theme from oh-my-zsh
# Though I changed stuff here and there
# And yeah, colors in prompt resembling Ukrainian flag is a semi-coincidence
# I was just playing with different color combinations, trying to find nice one
# And only after using these for a while I noticed the similarity. And it's great
# Слава Україні!

# Get editor completions based on the config schema
# (I don't know what this means)
"$schema" = 'https://starship.rs/config-schema.json'

# Inserts a blank line between shell prompts (Disabled in my case)
add_newline = false

# Main prompt
format = """
[╭](bold white)$username$hostname$os$shell$directory$nix_shell$git_branch$git_status
[╰](bold white)$character
"""

# Right prompt (date and time in my case)
right_format = """$time"""

[username]
format = "[$user]($style)[@](fg:242)"
style_user = "fg:226"
style_root = "bold red"
show_always = true                    # Username is shown always

[hostname]
format = "[$hostname]($style)[$ssh_symbol](fg:87)"
style = "italic fg:33"
trim_at = "-"
ssh_only = false                                   # Hostname is shown always, not only in ssh
ssh_symbol = ''
disabled = false

[directory]
style = "bold fg:226"
truncation_length = 2         # Amount of directory levels after which truncation is done
fish_style_pwd_dir_length = 1 # Option for showing only one letter in names of parent directories
truncate_to_repo = false      # If in Git repo, dir is shown from repo's root. Disabled im my case
truncation_symbol = "repo: "
read_only = " "
read_only_style = "red"

[git_branch]
format = '[on](fg:242) [$symbol$branch(:$remote_branch)]($style) '
symbol = " "
style = "bold white"

[git_status]
style = "italic white"
ahead = "⇡${count}"
diverged = "⇕⇡${ahead_count}⇣${behind_count}"
behind = "⇣${count}"

# This is also disabled here, so change 'true' to 'false'
[cmd_duration]
min_time = 1
format = ' [\($duration\)]($style)' # Written in parentheses, you may want to change that
disabled = true

[time]
format = "[$time]($style)"
time_format = "%F - %T"    # Date in ISO-8601 format and time
style = "bright-white"
disabled = false

# Module for displaying currently used shell
[shell]
format = ' [in](fg:242) [$indicator]($style) ' # In square brackets
style = 'bold italic fg:69'
zsh_indicator = '[zsh](bold italic fg:56)'
fish_indicator = '[fsh](bold italic fg:42)'
disabled = false                               # If you are using only one shell, disable this

[character]
success_symbol = "[○](bold white)"            # Usual symbol. In vim-like means "Insert"
error_symbol = "[×](bold red)"
vimcmd_symbol = '[⡷](bold white)'             # In vim-like means "Normal"
vimcmd_replace_one_symbol = '[_](bold white)' # In vim-like meand "Replace" (fish only)
vimcmd_replace_symbol = '[_](bold white)'
vimcmd_visual_symbol = '[>](bold white)'      # In vim-like means "Visual" (fish only)

# Symbol depending on your OS. Disabled in my config
[os]
format = "[$symbol]($style)"
style = "fg:39"
disabled = true

[nix_shell]
format = 'via [$symbol$state]($style) [\($name\)](bold italic fg:39) '
symbol = " "
style = 'italic fg:51'

# Nerd-fonts symbols for different things
# Some of them aren't even used
[c]
symbol = " "

[fossil_branch]
symbol = " "

[golang]
symbol = " "

[julia]
symbol = " "

[lua]
symbol = " "

[memory_usage]
symbol = " "

[os.symbols]
Android = " "
Arch = " "
Garuda = " ﯑"
Illumos = " "
Linux = " "
Macos = " "
Mint = " "
NixOS = " "
OpenBSD = " "
Ubuntu = " "
Windows = " "

[package]
symbol = " "

[python]
symbol = " "

[rlang]
symbol = "ﳒ "

[rust]
symbol = " "
